:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #fff;
}

body {
color: var(--primery-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
}

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-web {
    color: #2196F3;
}

.list {
    list-style: none;
}

/* Nav */
.site-nav {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.site-nav :hover, 
.site-nav :focus {
    color: #2196F3
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Hero */

.hero-title {
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Features */ 

.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.feature-text {
    color: var(--primery-text-color);  
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Team */

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

button {
    background-color: var(--accent-color);
    color: var(--primery-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Portfolio */
/* Button */

.button-filter :hover,
.button-filter :focus {
color: var(--accent-color)
}

.button-filter {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-family: inherit;
    cursor: pointer;
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


