:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #ffffff;
}

body {
color: var(--primery-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
font-size: 14px;
}

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-footer {
    color: var(--primery-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-web {
    color: #2196F3;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none; 
}

/* Nav */
.nav-link,
.contact-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.nav-link:hover, 
.nav-link:focus {
    color: #2196F3
}

.currentlink {
    color: var(--accent-color);
}

.contact-link {
    color: #757575
}

.contact-link:hover, 
.contact-link:focus {
    color: #2196F3
}

/* Hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--primery-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Features */ 

.feature-title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-text {
    color: var(--primery-text-color);  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Team */

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
}

button {
    background-color: var(--accent-color);
    color: var(--primery-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

footer {
    background-color: #2F303A;
}

address {
    font-style: normal;
}

.address-map {
    color: var(--primery-white-color);
    font-size: 14px;
    line-height: 1.71;
}

.address-map:hover,
.address-map:focus {
    color: var(--accent-color);
}

.address-contact {
    color: rgba(255, 255, 255, 0.6);;
    line-height: 1.71;
}

.address-contact:hover,
.address-contact:focus {
    color: var(--accent-color);
}

/* Portfolio */

/* Button */

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--primery-white-color)
}

.button-filter {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03pc;
}

.active{
    background-color: var(--accent-color);
    color: var(--primery-white-color)
}


.portfolio-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/* Скрываем заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}